<div class="columns">
    <div class="column">
        <h1 class="title">Calculo de Creditos</h1>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Total</label>
            </div>
            <div class="field-body">
                <div class="field">
                <p class="control">
                    <input class="input" type="text" readonly>
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <button class="button">Descontar</button>
    </div>
</div>